<section class="vh-100 ">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="py-2 px-5 text-center">
            <form (ngSubmit)="onSubmit()">
              <div class="mb-md-5 mt-md-4">
                <h6 class="fw-bold mb-2">Add a product for auction</h6>
                <div class="form-outline form-white mb-4">
                  <input
                    [(ngModel)]="name"
                    type="text"
                    id="productName"
                    class="form-control form-control-lg"
                    name="productName"
                    required
                  />
                  <label class="form-label" for="productName">Name Of The Product</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <textarea
                    [(ngModel)]="description"
                    id="productDescription"
                    class="form-control form-control-lg"
                    name="password"
                    required></textarea>
                  <label class="form-label" for="productDescription">Description Of The Product</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    [(ngModel)]="productStartingBid"
                    type="number"
                    min="1"
                    id="productStartingBid"
                    class="form-control form-control-lg"
                    name="productStartingBid"
                    required
                  />
                  <label class="form-label" for="productStartingBid">Starting bid in USD</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    [(ngModel)]="endTimeOfAuction"
                    type="datetime-local"
                    min="1"
                    id="endTimeOfAuction"
                    class="form-control form-control-lg"
                    name="endTimeOfAuction"
                    required
                  />
                  <label class="form-label" for="endTimeOfAuction">End time of auction</label>
                </div>

                <button class="btn btn-success btn-lg px-5" type="submit">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

