<div class="navbar d-flex justify-content-between align-items-center px-4 py-3 bg-dark text-white" style="height: 60px;">
  <!-- Home link -->
  <a href="/" class="navbar-brand text-white m-0">Home</a>

  <!-- Profile section if logged in, otherwise login button -->
  <div *ngIf="profile; else notLoggedIn" class="d-flex gap-4 justify-content-between align-items-center">
    <p class="m-0">Logged in as: <strong><button class="btn-user-profile" (click)="goToProfilePage()">{{ profile?.username }}</button></strong></p>
    <button (click)="logout()" class="btn btn-outline-light">Logout</button>
  </div>

  <ng-template #notLoggedIn>
    <div class="d-flex gap-4 justify-content-between align-items-center">
      <div class="text-light">Not logged in</div>
      <button (click)="goToLoginPage()" class="btn btn-outline-light">Login</button>
    </div>
  </ng-template>
</div>
