<div class="container mt-4">
  <h3 class="text-white mb-4">Products available for auction:</h3>

  <button (click)="navigateToCreateProduct()" class="btn btn-primary mb-3">
    Add a Product
  </button>

  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <div class="card h-100 bg-dark text-white shadow-lg border-0">
        <div class="card-body" (click)="navigateToProductPage(product)">
          <h5 class="card-title">{{ product.productName }}</h5>
          <p class="card-text">{{ product.productDescription }}</p>
          <button class="btn btn-warning">See</button>
        </div>
      </div>
    </div>
  </div>
</div>
